$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints:(
  'xs': (max-width:$--sm - 1),
  'sm': (min-width:$--sm ),
  'md': (min-width:$--md ),
  'lg': (min-width:$--lg ),
  'xl': (min-width:$--xl ),
);

$--breakpoints-spec:(
  'xs': '(max-width: #{$--sm - 1})',
  'sm': '(min-width: #{$--sm} ) and (max-width: #{$--md - 1} )',
  'md': '(min-width: #{$--md} ) and (max-width: #{$--lg - 1} )',
  'lg': '(min-width: #{$--lg} ) and (max-width: #{$--xl - 1} )',
  'xl': '(min-width: #{$--xl} )',
);


$--breakpoints-display-spec:(
  'xs-only': '(max-width: #{$--sm - 1})',
  'sm-only': '(min-width: #{$--sm} ) and (max-width: #{$--md - 1} )',
  'sm-and-down': '(max-width: #{$--md - 1} )',
  'sm-and-up': '(min-width: #{$--sm} )',
  'md-only': '(min-width: #{$--md} ) and (max-width: #{$--lg - 1} )',
  'md-and-down': '(max-width: #{$--lg - 1} )',
  'md-and-up': '(min-width: #{$--md} )',
  'lg-only': '(min-width: #{$--lg} ) and (max-width: #{$--xl - 1} )',
  'lg-and-down': '(max-width: #{$--xl - 1} )',
  'lg-and-up': '(min-width: #{$--lg} )',
  'xl-only': '(min-width: #{$--xl})',
);